//Colores base del material de formación
$brand-color-dark: #895cd8;
$text-color-dark: #fff;
$tags-bg-color: #7b1fa2;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #e6eef3;
$text-color-light: $primary;
$brand-color-secondary: #7ca7c9;
